.notes {
  background-attachment: local;
  background-image: linear-gradient(to right, white 0px, transparent 0px),
    linear-gradient(to left, white 0px, transparent 0px),
    repeating-linear-gradient(
      white,
      white 28px,
      #ccc 30px,
      #ccc 30px,
      white 30px
    );
  line-height: 30px;
  height: 50px;
}

.notes_slate {
  background-attachment: local;
  background-image: linear-gradient(to right, #f1f5f9 0px, transparent 0px),
    linear-gradient(to left, #f1f5f9 0px, transparent 0px),
    repeating-linear-gradient(
      #f1f5f9,
      #f1f5f9 28px,
      #ccc 30px,
      #ccc 30px,
      #f1f5f9 30px
    );
  line-height: 30px;
  height: 50px;
}

.notes_gray {
  background-attachment: local;
  background-image: linear-gradient(to right, #f3f4f6 0px, transparent 0px),
    linear-gradient(to left, #f3f4f6 0px, transparent 0px),
    repeating-linear-gradient(
      #f3f4f6,
      #f3f4f6 28px,
      #ccc 30px,
      #ccc 30px,
      #f3f4f6 30px
    );
  line-height: 30px;
  height: 50px;
}
